body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:952px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:952px;
}
#u1 {
  position:absolute;
  left:2px;
  top:468px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:80px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  background-color:#FFEA00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#585A60;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:50px;
  top:400px;
  width:150px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u3_img.selected {
}
#u3.selected {
}
#u3_img.mouseDown {
}
#u3.mouseDown {
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:137px;
  top:406px;
  width:43px;
  height:41px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:450px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:120px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:96px;
  top:131px;
  width:15px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:50px;
  top:160px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:96px;
  top:171px;
  width:15px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:50px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:96px;
  top:91px;
  width:15px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:50px;
  top:200px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u21_img.selected {
}
#u21.selected {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:96px;
  top:212px;
  width:15px;
  height:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:50px;
  top:240px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u25_img.selected {
}
#u25.selected {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:96px;
  top:252px;
  width:15px;
  height:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:50px;
  top:280px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u29_img.selected {
}
#u29.selected {
}
#u29_img.mouseDown {
}
#u29.mouseDown {
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:96px;
  top:292px;
  width:15px;
  height:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:50px;
  top:360px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u33_img.selected {
}
#u33.selected {
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:96px;
  top:372px;
  width:15px;
  height:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:50px;
  top:320px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.mouseDown {
}
#u37.mouseDown {
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:96px;
  top:332px;
  width:15px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u40 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:200px;
  top:0px;
  width:1100px;
  height:80px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u42 {
  position:absolute;
  left:2px;
  top:32px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:300px;
  top:0px;
  width:960px;
  height:80px;
  color:#585A60;
  line-height:22px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:80px;
}
#u44 {
  position:absolute;
  left:0px;
  top:7px;
  width:960px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:240px;
  top:120px;
  width:40px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u46 {
  position:absolute;
  left:281px;
  top:106px;
  width:60px;
  height:20px;
  color:#585A60;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:341px;
  top:121px;
  width:929px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:912px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:929px;
  height:1px;
}
#u49 {
  position:absolute;
  left:341px;
  top:106px;
  width:120px;
  height:20px;
  color:#585A60;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:241px;
  top:351px;
  width:267px;
  height:180px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:180px;
}
#u52 {
  position:absolute;
  left:2px;
  top:82px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:240px;
  top:152px;
  width:268px;
  height:180px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:180px;
}
#u54 {
  position:absolute;
  left:2px;
  top:82px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:508px;
  top:152px;
  width:252px;
  height:180px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:180px;
}
#u56 {
  position:absolute;
  left:2px;
  top:82px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:518px;
  top:172px;
  width:245px;
  height:154px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:154px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:770px;
  top:550px;
  width:268px;
  height:180px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:180px;
}
#u60 {
  position:absolute;
  left:2px;
  top:82px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:770px;
  top:152px;
  width:268px;
  height:180px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:180px;
}
#u62 {
  position:absolute;
  left:2px;
  top:82px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1048px;
  top:160px;
  width:250px;
  height:154px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:154px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:508px;
  top:351px;
  width:247px;
  height:180px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:180px;
}
#u66 {
  position:absolute;
  left:2px;
  top:82px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:518px;
  top:371px;
  width:246px;
  height:154px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:154px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:509px;
  top:550px;
  width:246px;
  height:180px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:180px;
}
#u70 {
  position:absolute;
  left:2px;
  top:82px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:519px;
  top:570px;
  width:241px;
  height:154px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:154px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:768px;
  top:351px;
  width:267px;
  height:180px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:180px;
}
#u74 {
  position:absolute;
  left:2px;
  top:82px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:241px;
  top:550px;
  width:268px;
  height:180px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:180px;
}
#u76 {
  position:absolute;
  left:2px;
  top:82px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1050px;
  top:364px;
  width:250px;
  height:154px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:154px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1048px;
  top:563px;
  width:250px;
  height:154px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:154px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:453px;
  top:837px;
  width:45px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:518px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u83_img.selected {
}
#u83.selected {
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:558px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:598px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:638px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:678px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:718px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:758px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:796px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:834px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:882px;
  top:837px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:862px;
  top:837px;
  width:20px;
  height:15px;
  font-size:12px;
  color:#585B60;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:922px;
  top:837px;
  width:45px;
  height:20px;
  font-size:12px;
  color:#585B60;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:503px;
  top:907px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:563px;
  top:907px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:573px;
  top:907px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:643px;
  top:907px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:718px;
  top:907px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:788px;
  top:907px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:858px;
  top:907px;
  width:79px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:631px;
  top:907px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:704px;
  top:907px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:776px;
  top:907px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:847px;
  top:907px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:503px;
  top:936px;
  width:414px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:14px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:697px;
  top:936px;
  width:208px;
  height:16px;
  font-size:11px;
  color:#585B60;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
}
#u132 {
  position:absolute;
  left:2px;
  top:0px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
