body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:395px;
  top:33px;
  width:759px;
  height:512px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:512px;
}
#u1 {
  position:absolute;
  left:2px;
  top:248px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:125px;
  top:0px;
  width:245px;
  height:595px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:595px;
}
#u3 {
  position:absolute;
  left:2px;
  top:290px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:125px;
  top:150px;
  width:245px;
  height:560px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:560px;
}
#u5 {
  position:absolute;
  left:2px;
  top:272px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:125px;
  top:0px;
  width:245px;
  height:150px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:150px;
}
#u7 {
  position:absolute;
  left:2px;
  top:67px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:125px;
  top:160px;
  width:245px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:135px;
  top:10px;
  width:230px;
  height:140px;
  color:#F3F3F3;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:140px;
}
#u11 {
  position:absolute;
  left:2px;
  top:62px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:130px;
  top:13px;
  width:110px;
  height:117px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:117px;
}
#u13 {
  position:absolute;
  left:2px;
  top:50px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:256px;
  top:47px;
  width:109px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#585A60;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:43px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:256px;
  top:13px;
  width:75px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:256px;
  top:134px;
  width:49px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:315px;
  top:134px;
  width:40px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:130px;
  top:260px;
  width:100px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:130px;
  top:350px;
  width:100px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:130px;
  top:420px;
  width:100px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:130px;
  top:490px;
  width:100px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:130px;
  top:560px;
  width:100px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:130px;
  top:630px;
  width:100px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:135px;
  top:248px;
  width:70px;
  height:12px;
  color:#585A60;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:12px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-2px;
  width:66px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:231px;
  top:260px;
  width:100px;
  height:55px;
  font-size:11px;
  color:#585A60;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:231px;
  top:355px;
  width:100px;
  height:55px;
  font-size:11px;
  color:#585A60;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:231px;
  top:425px;
  width:100px;
  height:50px;
  font-size:11px;
  color:#585A60;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:231px;
  top:490px;
  width:100px;
  height:55px;
  font-size:11px;
  color:#585A60;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:231px;
  top:560px;
  width:100px;
  height:55px;
  font-size:11px;
  color:#585A60;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:231px;
  top:632px;
  width:100px;
  height:55px;
  font-size:11px;
  color:#585A60;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:135px;
  top:330px;
  width:80px;
  height:20px;
  font-size:12px;
  color:#585A60;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:331px;
  top:215px;
  width:29px;
  height:25px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:50px;
  top:0px;
  width:75px;
  height:780px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:780px;
}
#u53 {
  position:absolute;
  left:2px;
  top:382px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:50px;
  top:0px;
  width:75px;
  height:70px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:70px;
  background-color:#FFEA00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#585A60;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u55 {
  position:absolute;
  left:81px;
  top:121px;
  width:15px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:81px;
  top:161px;
  width:15px;
  height:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:81px;
  top:81px;
  width:15px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u60 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:81px;
  top:202px;
  width:15px;
  height:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:81px;
  top:242px;
  width:15px;
  height:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:81px;
  top:282px;
  width:15px;
  height:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:81px;
  top:362px;
  width:15px;
  height:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:81px;
  top:322px;
  width:15px;
  height:15px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u70 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:50px;
  top:390px;
  width:75px;
  height:85px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:85px;
}
#u71_img.selected {
}
#u71.selected {
}
#u71_img.mouseDown {
}
#u71.mouseDown {
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:67px;
  top:395px;
  width:43px;
  height:41px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:50px;
  top:475px;
  width:75px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u75_img.selected {
}
#u75.selected {
}
#u75_img.mouseDown {
}
#u75.mouseDown {
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1080px;
  top:574px;
  width:31px;
  height:32px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1036px;
  top:580px;
  width:25px;
  height:25px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1036px;
  top:580px;
  width:25px;
  height:25px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1122px;
  top:580px;
  width:25px;
  height:25px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1122px;
  top:579px;
  width:25px;
  height:25px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1081px;
  top:575px;
  width:25px;
  height:25px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1170px;
  top:601px;
  width:60px;
  height:93px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:93px;
}
#u90 {
  position:absolute;
  left:2px;
  top:38px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1183px;
  top:658px;
  width:37px;
  height:34px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:34px;
}
#u92 {
  position:absolute;
  left:2px;
  top:9px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1170px;
  top:601px;
  width:60px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#C3C3C3;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u94 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:416px;
  top:583px;
  width:25px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#585A60;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:416px;
  top:615px;
  width:737px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:720px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:737px;
  height:1px;
}
#u98 {
  position:absolute;
  left:416px;
  top:632px;
  width:453px;
  height:16px;
  color:#585A60;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:416px;
  top:658px;
  width:467px;
  height:16px;
  color:#585A60;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:416px;
  top:684px;
  width:738px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:721px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:738px;
  height:1px;
}
#u103 {
  position:absolute;
  left:568px;
  top:730px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:628px;
  top:730px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:638px;
  top:730px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:708px;
  top:730px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:782px;
  top:730px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:852px;
  top:730px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:922px;
  top:730px;
  width:79px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:696px;
  top:730px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:768px;
  top:730px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:840px;
  top:730px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:912px;
  top:730px;
  width:10px;
  height:10px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#585B60;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:578px;
  top:749px;
  width:414px;
  height:14px;
  font-size:11px;
  color:#585B60;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:14px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:772px;
  top:747px;
  width:208px;
  height:16px;
  opacity:0.899999976158142;
  font-size:11px;
  color:#585A60;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
}
#u128 {
  position:absolute;
  left:2px;
  top:0px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:124px;
  top:700px;
  width:246px;
  height:80px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:80px;
}
#u130 {
  position:absolute;
  left:2px;
  top:32px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
