body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:75px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:0px;
  width:75px;
  height:70px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:70px;
  background-color:#FFEA00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#585A60;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:81px;
  top:121px;
  width:15px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:81px;
  top:161px;
  width:15px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:81px;
  top:81px;
  width:15px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:81px;
  top:202px;
  width:15px;
  height:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:81px;
  top:242px;
  width:15px;
  height:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:81px;
  top:282px;
  width:15px;
  height:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:81px;
  top:362px;
  width:15px;
  height:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:81px;
  top:322px;
  width:15px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:50px;
  top:390px;
  width:75px;
  height:85px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:85px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:67px;
  top:395px;
  width:43px;
  height:41px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:475px;
  width:75px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u23_img.selected {
}
#u23.selected {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
